.product-filter {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	margin-bottom: 30px;
}
.filter-item {
	border-bottom: 1px solid #ddd;
}
.filter-item:last-child {
	border-bottom: none;
}
.filter-title,
.filter-title:hover,
.filter-title:focus,
.filter-title:active {
	color: inherit;
	display: block;
	padding: 10px;
	text-decoration: inherit;
}
.filter-controls {
	display: none;
	padding: 0 10px 10px;
}
.filter-range input[type="text"] {
	display: inline-block;
	width: 46%;
}
.filter-range input[type="text"]:first-child {
	margin-right: 8%;
}
.filter-item.expanded .filter-title span {
	transform: rotate(180deg);
}
.filter-item.expanded .filter-controls {
	display: block;
}


.filter-select-items {
	max-height: 216px;
	overflow-y: auto;
}
.filter-select-items label {
	cursor: pointer;
	font-weight: normal;
}


.filter-submit {
	padding: 10px;
}
.filter-submit button {
	width: 100%;
}
