.modal-properties table {
	margin: 0;
}
.modal-properties1 .table-condensed > tbody > tr > td {
	border-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.modal-properties td:last-child {
	vertical-align: middle;
}
