.offer-item {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	margin-bottom: 30px;
	padding: 10px;
}
.offer-thumb {
	height: 200px;
	overflow: hidden;
}
.offer-thumb a,
.offer-thumb a img {
	display: block;
	width: 100%;
}
.offer-name {
	font-size: 14px;
	line-height: 18px;
	height: 36px;
	margin-bottom: 10px;
	overflow: hidden;
}
.offer-name a {
	color: #777;
}
.offer-name a:hover,
.offer-name a:focus {
	color: #777;
	text-decoration: none;
}
.offer-old-price {
	font-size: 13px;
	height: 13px;
	line-height: 13px;
}
.offer-price {
	color: #ddd;
	font-size: 24px;
}
.offer-price span {
	color: #333;
	font-weight: bold;
}
