.product-images {
	margin-bottom: 20px;
	overflow: hidden;
}
.product-images a,
.product-images img {
	display: block;
	max-width: 100%;
}
.product-thumbs a {
	float: left;
	width: 20%;
}
.product-thumbs a > img {
	width: 100%;
}
.product-price {
	color: #ddd;
	font-size: 36px;
}
.product-price span {
	color: #333;
	font-weight: bold;
}
.product-old-price {
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 20px;
}
.product-description {
	margin-bottom: 20px;
}
.product-properties-table td {
	width: 50%;
}