.product-toolbar {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}



.product-toolbar-sort-label {
    margin-right: 10px;
}
@media (max-width: 767px) {
    .product-toolbar-sort-label,
    .product-toolbar-sort-text,
    .product-toolbar-sort .caret {
        display: none;
    }
    .product-toolbar-sort button {
        padding-left: 9px;
        padding-right: 9px;
    }
}
@media (min-width: 768px) {
    .product-toolbar-sort-icon {
        display: none;
    }
}
