.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    display: block;
    overflow: hidden;
    text-decoration: none!important;
}



.product-header {
    display: block;
    position: relative;
}



.product-image {
    display: block;
    height: 140px;
    overflow: hidden;
    position: relative;
}
.product-image img {
    display: block;
    height: auto;
    width: 100%;
}



.product-caption {
    display: block;
    padding: 10px;
}



.product-title {
    color: #888;
    display: block;
    font-size: 0.9em;
    line-height: 1.2;
    margin-bottom: 5px;
}
.product-title > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.product-price-block {
    color: #888;
    display: block;
    font-size: 1.4em;
}
.product-price-block strong {
    color: #333;
}



@media (min-width: 768px) {
    .product-image {
        height: 220px;
    }
    .product-caption {
        padding: 15px;
    }
    .product-title {
        margin-bottom: 10px;
    }
}



@media (min-width: 1200px) {
    .product-image {
        height: 270px;
    }
}
