.product-item {
    display: block;
    overflow: hidden;
    text-decoration: none!important;
}



.product-item-header {
    display: block;
    position: relative;
}



.product-item-image {
    display: block;
    height: 140px;
    overflow: hidden;
    position: relative;
}
.product-item-image img {
    display: block;
    height: auto;
    width: 100%;
}



.product-item-caption {
    display: block;
    padding: 10px 0;
}



.product-item-title {
    color: #333;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2;
}
.product-item-title > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.product-item-price-block {
    color: #777;
    display: block;
    font-size: 1.4em;
}
.product-item-price-block strong {
    color: #333;
}



.product-item-availability {
    color: #777;
    font-size: 0.9em;
}



@media (min-width: 768px) {
    .product-item {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

    .product-item-image {
        height: 220px;
    }
    .product-item-caption {
        padding: 15px;
    }
    .product-item-title {
        margin-bottom: 10px;
    }
}



@media (min-width: 1200px) {
    .product-item-image {
        height: 270px;
    }
}
